
<div class="hard-cheese-section">
  {{#each cheeses}}
    {{#each this}}
      <div class="single-cheese" data-attribute="{{this.id}}">
        <h2>{{this.name}}</h2>
          <p>Milk type: {{this.milk_type}}</p>
          <p>Country of origin: {{this.country_of_origin}}</p>
          <p>Flavor profile: {{this.flavor}}</p>
          <button type="submit" class="btn btn-primary add-cheese-button" data-family={{this.family}}>Add to Board</button>
        </div>
      {{/each}}
  {{/each}}
</div>
