
<div class="hard-cheese-section" data.id="hard">
  {{#each cheeses}}
    {{#each this}}
      <div class="single-cheese" data-attribute="{{this.id}}">
        <h2>{{this.name}}</h2>
          <p>Milk type: {{this.milk_type}}</p>
          <p>Country of origin: {{this.country_of_origin}}</p>
          <p>Flavor profile: {{this.flavor}}</p>
          <form id="add-cheese">
            <button type="submit" class="btn btn-primary" id="add-cheese-button">Add to Board</button>
          </form>
        </div>
      {{/each}}
  {{/each}}
</div>
