<div class="{{this.name}}" data-id="{{this.id}}">
    <h2>{{this.name}}</h2>
    <p>Milk type: {{this.milk_type}}</p>
    <p>Country of origin: {{this.country_of_origin}}</p>
    <p>Flavor profile: {{this.flavor}}</p>
</div>
